body{
    background-color: #05d168;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: 1s all;

}
h1{
    margin:10px;
    color: white;
    box-shadow:  1px 3px 11px black;
    border-radius:9px;
    background-color:#3a5346;
    text-align:center;
    transition: 1s all;
    padding: 20px;
}
h1:hover{
    transform: scale(1.1);
    transition: 1s all;
}
.chat{
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #C4F5FC;
    border: 1px solid #B7FFD8;
    margin: 10px;
}
#messages{
    height: 500px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #E8FFB7;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
form{
    text-align: center;
}
button{
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #E8FFB7;
    border: none;
    color: #3a5346;
    outline: none;
}

li{
    list-style: none;
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 100%;
    padding: 25px;
    margin-top: 10px;
    transition: .5s all;
}

li:hover{
    width:80%;
    background-color:#B7FFD8;
    color: white;
    transition: .5s all;
}
input[type=text]:focus {
    outline: none;
 }

 .about{
     text-align: center;
     color: white;
     font-family: 'Roboto', sans-serif;
 }

 